.print-format{
    padding-top:0mm !important;
    padding-bottom:0mm !important;
    padding-left:0mm !important;
    padding-right:0mm !important;
    margin-top:70mm !important;
    margin-left:3mm !important;
    margin-right:3mm !important;
}
